@tailwind base;
@tailwind components;
@tailwind utilities;

.body{ 
    background-image: url("./img/WallpaperBook.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; /*Para fazer o Parallax*/
    background-size: cover;
}

/* ---------- STYLE MY HEADER --------------*/

.navbar_header{
    @apply bg-yellow-principal;
    @apply w-full;
    @apply h-[50px];
    @apply p-2;
    @apply pl-6;
    @apply relative;
    /*@apply mt-9;*/
}
.navbar_header .title{
    @apply text-black;
    @apply text-[23px];
}
.navbar_header a{
    @apply text-black;
}

/*------------------------------*/

/*------ STYLE MY FOOTER -------*/

.footer{
    @apply bg-yellow-principal;
    @apply w-full;
    @apply h-[200px];
    @apply relative;
}